{% extends 'base.html' %}

{% block content %}

<h1>Events</h1>

<a href="/create">+ New Event</a>

<!-- 
    TODO: Use the event objects to display the correct information (and take 
    out the hardcoded values)
-->

<div class="event-container">
    <h3><a href="/event/1">{{events[0].title}}</a></h3>
    <p><strong>Date and Time:</strong> {{events[0].date_and_time.strftime('%A %B %d, %Y')}} at {{events[0].date_and_time.strftime('%H:%M')}}</p>
    <p><strong>Description:</strong> {{events[0].description}}</p>
    <p class="small-text">
        {{events[0].guests|length}} attending
    </p>
</div>

<div class="event-container">
    <h3><a href="/event/2">{{events[2].title}}</a></h3>
    <p><strong>Date:</strong> {{events[0].date_and_time.strftime('%A %B %d, %Y')}} at {{events[0].date_and_time.strftime('%H:%M')}}</p>
    <p><strong>Description:</strong> {{events[2].description}}</p>
    <p class="small-text">
        {{events[2].guests|length}} attending
    </p>
</div>





{% endblock %}